@page "/department/{handler?}"
@model dotnet8_practice_razor.client.Pages.Department.DepartmentIndexModel

<div class="row mb-3">
    <div class="col-sm-12">
        <a class="btn btn-primary" onclick="return AddDepartment();">Add Department</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Employee Count</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DepartmentListModel.Departments.Count > 0)
                        {
                            @foreach (var department in Model.DepartmentListModel.Departments)
                            {
                                <tr>
                                    <th>@department.Id</th>
                                    <td>@department.Name</td>
                                    <td>@department.EmployeeCount</td>
                                    <td>
                                        <a class="btn btn-sm btn-link" onclick="return ViewDepartment('@department.Id');">View</a>
                                        <a class="btn btn-sm btn-link" onclick="return EditDepartment('@department.Id');">Edit</a>
                                        <a class="btn btn-sm btn-link" onclick="return DeleteDepartment('@department.Id');" data-bs-toggle="modal" data-bs-target="#modalDeleteDepartment">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No department records</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (ViewData["DepartmentDeleteSuccess"] != null)
{
    <div class="row">
        <div class="col-sm-12">
            <span style="color:green">@ViewData["DepartmentDeleteSuccess"]</span>
        </div>
    </div>
}

<form asp-page-handler="delete" method="post" id="deleteDepartmentForm">
    @Html.Hidden("departmentId", "", new { @id = "deleteDepartmentId" })
    <div class="modal fade" id="modalDeleteDepartment" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm deletion?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete? This action will delete all employees information tied to the department.</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    function AddDepartment() {
        var url = "@Url.Page("create")";
        location.href = url;
    }

    function ViewDepartment(departmentId) {
        var url = "@Url.Page("detail")" + "?departmentId=" + encodeURIComponent(departmentId);
        location.href = url;
    }

    function EditDepartment(departmentId) {
        var url = "@Url.Page("edit")" + "?departmentId=" + encodeURIComponent(departmentId);
        location.href = url;
    }

    function DeleteDepartment(departmentId) {
        $("#deleteDepartmentForm").find("#deleteDepartmentId").val(departmentId);
    }
</script>